body{
    background-color: orange;
}
h1.steve{
    text-align: center;
    color:white
}
p.menu{
    text-align: center;
    background-color: lime;
}
a{
    color:green;
}
img.primera{
    height: 200px;
    width: 200px;
    float:left;
    margin-right: 10px;
}
div.fotosteve{
    background-color: white;
}
h2{
    background-color: blue;
    color:blue
}
p{
    font-size: small;
}
h3{
    background-color: red;
    color:red
}
img.segunda{
    float: right;
    margin-left: 10px;
}
div.mac{
    background-color: lightblue;
}
footer{
    text-align: center;
}
div.footer{
    background-color: pink;
}
p.primertexto{
    color: blue;
}
p.segundotexto{
    color: red;
}
table.tabla{
    border-color: rgb(100, 65, 0);
    background-color: white;
}
td.centro{
    text-align: center;
    border: 0px;
}
td{
    border: blue 1px solid 
}
td.horas{
    border:0px;
}